body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

#roomDetails {
    padding-top: 30px;
    text-align: center;
    justify-content: center;
}

#connectedPlayers {
    column-count: 3;
    column-gap: 5px;
    border-style: solid;
    margin-top: 5px;
    padding: 10px;

    /* Center images that are too small in their
       cols and would otherwise be left aligned*/
    /* text-align: center; */
}

#startGameButton {
    background-color: #bedbdd;
    width: 557px;
}

.questionBox {
    border-style: solid;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 30px;
}

#answerButtonsContainer .row {
    padding-top: 15px;
    padding-bottom: 15px;
}

.answer-button.btn {
    height: 7rem;
    white-space: normal;
    color: #e2e2e2;
    font-size: larger;
    font-size: 2vh;
    padding-left: 8px;
    padding-right: 8px;
}

#answerButton0 {
    background-color: #af2222;
}
#answerButton1 {
    /* background-color: #225aaf; */
    background-color: #3786fc;
}
#answerButton2 {
    background-color: #ccba13;
}
#answerButton3 {
    background-color: #30ac36;
}

.stylized-text {
    font-style: italic;
}

.my-score {
    font-weight: bold;
}

.player-box {
    background: #DDDDDD;
    padding-left: 7px;
    padding-right: 14px;
    border-radius: 5px;
}

.h1, h1 {
    font-size: 3vh;
}

.h2, h2 {
    font-size: 5vh;
}

.h4, h4 {
    font-size: 3vh;
}

.navbar, .navbar-brand {
    font-size: 2vh;
}